<%= form_with(model: sipef_inference) do |form| %>
  <% if sipef_inference.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sipef_inference.errors.count, "error") %> prohibited this sipef_inference from being saved:</h2>

      <ul>
        <% sipef_inference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
